{{ define "header" }}
  <header class="header-section">
    <div class="intro-header no-img">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="page-heading text-center">
              <h1 class="ribbon">{{ .Title }}</h1>
              <hr class="small">
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
{{ end }}

{{ define "main" }}
  <div class="container" role="main">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {{ with .Content }}
          <div class="well">
            {{.}}
          </div>
        {{ end }}
        <div class="posts-list">
          {{ range .Paginator.Pages }}
            <div class="card text-center paper">
              <a href="{{ .Permalink }}">

                <h2 class="post-title">{{ .Title }}</h2>

                {{ if .Params.subtitle }}
                  <h3 class="post-subtitle">
                    {{ .Params.subtitle }}
                  </h3>
                {{ end }}
              </a>
              
              <div class="post-entry">
                {{ if .Truncated }}
                  {{ .Summary }}
                  <a href="{{ .Permalink }}" class="post-read-more">[Read More]</a>
                {{ else }}
                  {{ .Content }}
                {{ end }}
              </div>
    
              {{ if .Params.tags }}
              <span  class="badge">
                  {{ range .Params.tags }}
                    #<a href="{{ $.Site.LanguagePrefix }}/tags/{{ . | urlize }}">{{ . }}</a>&nbsp;
                  {{ end }}
              </span >
              {{ end }}

            <div class="card-footer text-muted">
               <p class="post-meta">   
                {{ .ReadingTime }} minute read
                </p>
               <p class="post-meta">  
                {{.WordCount }} Words
                </p>
              <p class="post-meta">
                {{ default (i18n "dateFormat") .Site.Params.dateformat | .Date.Format | i18n "postedOnDate" }}
              </p>
            </div>
    
            </div>
          <br><br>
          {{ end }}
        </div>
        {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
          <ul class="pagination pagination-lg">
            {{ if .Paginator.HasPrev }}
              <li class="page-item">
                <a href="{{ .URL }}page/{{ .Paginator.Prev.PageNumber }}">&larr; Older Post</a>
              </li>
            {{ end }}
            {{ if .Paginator.HasNext }}
              <li class="page-item">
                <a href="{{ .URL }}page/{{ .Paginator.Next.PageNumber }}">Next Post &rarr;</a>
              </li>
            {{ end }}
          </ul>
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}

