{{ define "main" }}
<div class="container">

  <div class="row">
    <div class="col s12 m10 l10 z-depth-2">
      <article class="blog-post">
        {{ .Content }}
      </article>
    </div>
      {{if eq $.Params.tableofcontents true}}
    <div class="col hide-on-small-only m2 right">
      <div id="initialization" class="section scrollspy">
        <article class="section table-of-contents">
          {{ .TableOfContents }}
        </article>  
      </div>
    </div>  
    {{end}}    
  </div>

<br>
<div class="row">
      <ul class="">
        {{ if .PrevInSection }}
        <li class="waves-effect">
            <a href="{{ .PrevInSection.Permalink }}"><i class="material-icons">chevron_left</i> {{ .PrevInSection.Title }}</a>
          </li>
        {{ end }}
    
        {{ if .NextInSection }}
        <li class="waves-effect">
            <a href="{{ .NextInSection.Permalink }}">{{ .NextInSection.Title }} <i class="material-icons">chevron_right</i></a>
          </li>
        {{ end }}
      </ul>
</div>

<br>

<div class="row z-depth-1">

    {{ $related := .Site.RegularPages.Related . | first 5 }}
    {{ with $related }}
    <h3>See Also</h3>
    <ul>
      {{ range . }}
      <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
      {{ end }}
    </ul>
    {{ end }}

</div>

{{ template "_internal/disqus.html" . }}

</div>
{{ end }}
