{{ define "main" }}
  {{ $data := .Data }}
  <div class="container" role="main">

        <div class="collection">
      {{ range $key, $value := .Data.Terms.ByCount }}
      
      <a class="collection-item" href="{{ $.Site.LanguagePrefix }}/{{ $data.Plural }}/{{ $value.Name | urlize }}" class="list-group-item list-group-item-action">
          {{ $value.Name }} &nbsp; <span span class="badge">{{ $value.Count }}</span></a>
      {{ end }}
    </div>

  </div>
{{ end }}

