/* shake */
.face:hover {
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

img {
  max-width: 100%;
  height: auto;
}

.paper {
  background: #fff;
  padding: 30px;
  position: relative;
}

.paper,
.paper::before,
.paper::after {
  /* Styles to distinguish sheets from one another */
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  border: 1px solid #bbb;
}

.paper::before,
.paper::after {
  content: "";
  position: absolute;
  height: 95%;
  width: 99%;
  background-color: #F17E7E;
}

.paper::before {
  right: 15px;
  top: 0;
  background-color: #87F879;
  transform: rotate(-1deg);
  z-index: -1;
}

.paper::after {
  top: 5px;
  right: -5px;
  transform: rotate(1deg);
  z-index: -2;
}

.ribbon {
  font-size: 16px !important;
  /* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */
  width: 50%;
  position: relative;
  background: #ba89b6;
  color: #fff;
  text-align: center;
  padding: 1em 2em;
  /* Adjust to suit */
  margin: 2em auto 3em;
  /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
}

.ribbon:before,
.ribbon:after {
  content: "";
  position: absolute;
  display: block;
  bottom: -1em;
  border: 1.5em solid #986794;
  z-index: -1;
}

.ribbon:before {
  left: -2em;
  border-right-width: 1.5em;
  border-left-color: transparent;
}

.ribbon:after {
  right: -2em;
  border-left-width: 1.5em;
  border-right-color: transparent;
}

.ribbon .ribbon-content:before,
.ribbon .ribbon-content:after {
  content: "";
  position: absolute;
  display: block;
  border-style: solid;
  border-color: #804f7c transparent transparent transparent;
  bottom: -1em;
}

.ribbon .ribbon-content:before {
  left: 0;
  border-width: 1em 0 0 1em;
}

.ribbon .ribbon-content:after {
  right: 0;
  border-width: 1em 1em 0 0;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

header {
  /* Striped background */
  background: #2a1135;
  background-image:
    linear-gradient(90deg, transparent 50%, #190b20 50%);
  background-size: 52px;
  box-shadow: inset 0 0 100px #000;

  text-align: center;
  padding: 2em 2em 3em;
  position: relative;

  &::before,
  &::after {
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
  }

  &::before {
    /* Red gradients for blood */
    background:
      linear-gradient(red 50%, transparent 60%),
      radial-gradient(#d40000 50%, transparent 70%),
      radial-gradient(red 30%, transparent 40%),
      radial-gradient(#d40000 10%, transparent 20%),
      radial-gradient(red 10%, transparent 15%);
    background-size: 100% 100%, 500px 500px, 200px 200px, 103px 273px, 77px 800px;
    background-position: 0 0, -97% -78%, 71% 0%, 7% 23%, 5% 49%;

    /* Background blend for bleed effect */
    mix-blend-mode: multiply;

    /* Mouse ignore blood */
    pointer-events: none;

    /* Hide before hover transition */
    opacity: 0;
    transform: translateY(-100%);

    /* Mouseout effect */
    transition: opacity 3s linear, transform 1s 3s linear;

    height: 100%;
    top: 0;
  }

  /* Hover transition */
  &:hover::before {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1s 0s, transform 5s 0s linear;
  }

  /* Header bottom edge */
  &::after {
    background-image:
      radial-gradient(#07050a 40%, transparent 41%),
      radial-gradient(#07050a 40%, transparent 41%);
    background-size: 104px 104px;
    background-position: 0 0, 52px 0;

    height: 104px;
    bottom: -52px;
    z-index: -1;
  }
}

/* Styling */

body {
  background: #090917;
  font: 16px/1.5 'Old Standard TT', serif;
  color: green;
}

