<script src="{{ "js/lozad.min.js" | absURL }}"></script>
<script src="{{ "js/jquery.min.js" | absURL }}"></script>
<script src="{{ "js/materialize.js" | absURL }}"></script>
<script>
  $(document).ready(function(){
    $('.sidenav').sidenav();
  });
</script>
{{ if .IsHome }}
  <script>
  $(document).ready(function(){
    $('.parallax').parallax();
  });
  </script>
{{end}}
{{if eq $.Params.tableofcontents true}}
  <script>
  $(document).ready(function(){
      $('.scrollspy').scrollSpy();
    });
  </script>
{{end}} 

{{if .Params.bigimg}}
<script>
  $(document).ready(function(){
    $('.scrollspy').scrollSpy();
  });

  const observer = lozad(); // lazy loads elements with default selector as ".lozad"
  observer.observe();      
</script>
{{end}}
{{ if .Params.chart}}
<script src="{{ "js/frappe-charts.min.js" | absURL }}"></script>

<script>
var data = {
      labels: [
      {{range .Params.chart.labels }}
              {{ . }} ,
            {{ end }}
      ],
      datasets: [{
          title: {{ $.Param "chart.label" }},
          values: [
          {{range .Params.chart.data }}
          {{ . }},
        {{ end }}
          ],
          color: "blue"
      }]
}


let chart = new Chart({
    parent: "#chart",
    title: '{{ $.Param "chart.label" }}',
    data: data,
    type: '{{ $.Param "chart.type" }}', // or 'line', 'scatter', 'pie', 'percentage'
    height: 250
  });

</script>
{{end}}