{{ if .IsHome }}
  {{ $.Scratch.Set "title" .Site.Title }}
  {{ if .Site.Params.subtitle }}{{ $.Scratch.Set "subtitle" .Site.Params.subtitle }}{{ end }}
  {{ if .Site.Params.bigimg }}{{ $.Scratch.Set "bigimg" .Site.Params.bigimg }}{{ end }}
{{ else }}
  {{ $.Scratch.Set "title" .Title }}
  {{ if .Params.subtitle }}{{ $.Scratch.Set "subtitle" .Params.subtitle }}{{ end }}
  {{ if .Params.bigimg }}{{ $.Scratch.Set "bigimg" .Params.bigimg }}{{ end }}
{{ end }}

{{if .Params.bigimg}}
<div class="container">
    <div class="carousel carousel-slider">
    {{ range $index, $element := .Params.bigimg}}
      <div class="carousel-item">
            <img data-src="{{$element.src}}" style="object-fit: scale-down" src="{{$element.src}}" alt="{{$element.desc}}">
      </div>
      {{end}}
</div>
</div>
{{end}}

   <header> 
    <div class="intro-header">
      {{ $subtitle := $.Scratch.Get "subtitle" }}
      <div class="container">
        <div class="row z-depth-1">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="{{ .Type }}-heading">
              <h1>{{ with $.Scratch.Get "title" }}{{.}}{{ else }}<br/>{{ end }}</h1>
                {{ if $subtitle }}
                  {{ if eq .Type "page" }}
                    <hr class="small">
                    <span class="{{ .Type }}-subheading">{{ $subtitle }}</span>
                  {{ else }}
                    <h2 class="{{ .Type }}-subheading">{{ $subtitle }}</h2>
                  {{ end }}
                {{ end }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
