<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Site Title, Description, Author, and Favicon -->
  {{- with .Title | default .Site.Title }}
  <title>{{ . }}</title>
  <meta property="og:title" content="{{ . }}" />{{- end }}
  <meta name="author" content="{{ .Site.Author.name }}" />
  
  <!-- Links and stylesheets -->
  <link rel="alternate" href="{{ "index.xml" | absLangURL }}" type="application/rss+xml" title="{{ .Site.Title }}">
  <link rel="stylesheet" href="{{ "css/materialize.min.css" | absURL }}" />
  <link rel="stylesheet" href="{{ "css/main.css" | absURL }}" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>