<nav>
  <div class="nav-wrapper blue lighten-3">
    <a class="brand-logo" href="https://primedesign.gitlab.io/">{{ .Site.Title }}</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger button-collapse">
      <i class="material-icons">menu</i>
    </a>

    <ul class="right hide-on-med-and-down">
      {{ range .Site.Menus.main.ByWeight }}
      <li>
        <a href="{{ .URL  | absURL }}">{{ .Name }}</a>
      </li>
      {{ end }}
    </ul>

    <ul class="sidenav" id="mobile-demo">
      <img src="/images/icon.jpg" height="300" width="300"> 
      {{ range .Site.Menus.main.ByWeight }}
      <li>
        <a href="{{ .URL  | absURL }}">{{ .Name }}</a>
      </li>
      {{ end }}
    </ul>
  </div>
</nav>