{{ define "main" }}
<div class="parallax-container">
  <div class="parallax">
    <img src="images/Pre-Class.png">
  </div>
</div>
<div class="section blue lighten-4">
  <div class="row container">
    <h2 class="header">Pre Class</h2>
    <p>
      <span>Our prototype aims to promote class preparation, making it an exciting and innovative activity which ideally will involve
        5-10 minutes of set-up on Moodle. Through our findings, it was evident that students had a more positive learning
        experience when they felt as though the tutor and environment was well prepared. To ensure this, we wanted to make
        an experience where tutors can preset how the class will be set up, what technology is needed and what files must
        be uploaded ready for each session.</span>
    </p>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax">
    <img src="images/RailDesk.jpg">
  </div>
</div>
<div class="section blue lighten-4">
  <div class="row container">
    <h2 class="header">Rail Desk</h2>
    <p>
      <span>The Rail Desk Prototype is a quiet learning space that can be easily customized to meet your needs. It has a flexible
        structure which adheres to small group work and collaboration with peers, and has useful tools to help share ideas
        with one another. This prototype is ideal for individual work as well, with multiple whiteboards and screens placed
        along the rail that allows a student to work on a variety of projects at the same time, or have different screens
        to display information/images. </span>
    </p>
    <pre>
          Read more at:
          <a href="../posts/rail_desk/">Rail Desk Post</a>
        </pre>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax">
    <img src="images/Trello.JPG">
  </div>
</div>
<div class="section blue lighten-4">
  <div class="row container">
    <h2 class="header">Trello</h2>
    <pre class="grey-text text-darken-3 lighten-3">Trello available at: 
          <a href="https://trello.com/primedesign5">Prime Design Trello</a>
        </pre>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax">
    <img src="images/User_Manual.png">
  </div>
</div>
<div class="section blue lighten-4">
  <div class="row container">
    <h2 class="header">User Manual</h2>
    <pre class="grey-text text-darken-3 lighten-3">User Manual available at: 
        <a href="https://primedesign.gitlab.io/user-manual/">Prime Design User Manual</a>
      </pre>
  </div>
</div>

{{ end }}